:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Cream);
}

.container {
    margin-top: 10rem;
}

.content {
    display: flex;
    background-color: var(--White);
    width: 720px;
    margin: auto;
    border-radius: 10px;
}

.content img {
    border-radius: 10px 0 0 10px;
}

.right {
    width: 70%;
    padding: 2rem;
}

.right h2 {
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.right h1 {
    font-family: 'Fraunces', serif;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2.4rem;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}



.discount-price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--Dark-cyan);
    margin-right: 1.4rem;
    font-family: 'Fraunces', serif;
}

.full-price {
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
}


.right .description {
    color: var(--Dark-grayish-blue);
    margin-bottom: 1.5rem;
}

button {
    width: 100%;
    color: white;
    background-color: var(--Dark-cyan);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

button span { 
    margin-right: 1rem;
}

@media screen and (max-width: 844px) {

    .container {
        padding: 1rem;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        width: 380px;
    }

    .left {
        background-image: url(images/image-product-mobile.jpg);
        width: 100%;
        height: 280px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;

    }

    .right h2 {
        margin-bottom: 1rem;
    }

    .right h1 {
        font-size: 2.2rem;
        margin-top: .7rem;
    }

    .perfume-image {
        display: none;
    }

    .right {
        border-radius: 0 0 10px 10px;
        padding: 1.6rem;
        width: 100%;
    }
}