:root {
 --Very-Light-Gray: hsl(0, 0%, 98%);
 --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
 --Light-Grayish-Blue: hsl(233, 11%, 84%);
 --Dark-Grayish-Blue: hsl(236, 9%, 61%);
 --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
 
 --Very-Dark-Blue: hsl(235, 21%, 11%);
 --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
 --Light-Grayish-Blue: hsl(234, 39%, 85%);
 --Light-Grayish-Blue: hsl(236, 33%, 92%);
 --Dark-Grayish-Blue: hsl(234, 11%, 52%);
 --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
 --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Josefin Sans", sans-serif;
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Very-Dark-Blue);
    font-size: 1.1rem;
}

.container {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto;
    padding-inline: 2rem;
}

.switch {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 32px;
    cursor: pointer;
    user-select: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.title-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-block: 2rem;
}

.title-switch h1 {
    letter-spacing: 1rem;
    font-size: 3rem;
}

.addTodo {
    display: flex;
    align-items: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
    flex-grow: 1;
    gap: 10px;
    width: 100%;
}

.inputAText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.fa-plus {
    cursor: pointer;
}

#input-checkbox {
    opacity: 0;
    height: 0;
    width: 0;
}

#checkbox-switch {
    cursor: pointer;
}

.inputSwitch {
    width: 25px;
    height: 25px;
    border-radius:  50%;
    cursor: pointer;
    border: 1px solid var(--Very-Dark-Grayish-Blue);
}

.addTodo:hover .inputSwitch {
    background-image: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.todoInput {
    background-color: var(--Very-Dark-Desaturated-Blue);
    border: none;
    color: var(--Light-Grayish-Blue);
    outline: none;
    width: 100%;
    
}

.toDoItems {
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 5px;
    color: var(--Light-Grayish-Blue);
    display: flex;
    flex-direction: column;
}




.toDoItems input {
    display: inline;
}

.toDoExtras {
    display: flex;
    justify-content: space-between;
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 1rem;
    border-radius: 0 0 5px 5px;
    color: var(--Dark-Grayish-Blue);
}

.toDoExtras button {
    background-color: var(--Very-Dark-Desaturated-Blue);
    border: none;
    cursor: pointer;
    color: var(--Dark-Grayish-Blue);
}

.toDoExtras button:focus {
    color: hsl(220, 98%, 61%);
}

.topToDoExtra {
    border: 1px solid var(--Very-Light-Grayish-Blue);
}

.toDoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 1.2rem;
    cursor: pointer;
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);

}

.toDoCross {
    visibility: hidden;
}

.toDoDiv:hover .toDoCross {
    visibility: visible;
}

.toDoLeft {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.toDoLabel {
    width: 25px;
    height: 25px;
    border-radius:  50%;
    cursor: pointer;
    border: 1px solid var(--Very-Dark-Grayish-Blue);
}

.toDoCheck {
    opacity: 0;
    width: 0;
    height: 0;
}

.toDoHr {
    width: 100%;
}

.active {
    display: flex;
}

.notActive {
    display: none;
}

.completed {
    text-decoration: line-through;
    color: red;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

.draggable.dragging {
    opacity: .5;
}




body[data-theme="darkMode"] {
    background-image: url(./images/bg-desktop-dark.jpg);
    background-color: hsl(235, 21%, 11%);
}

.toDoDiv[data-theme="darkMode"] {
    background-color: hsl(235, 24%, 19%);
    border-bottom: 1px solid (237, 14%, 26%);
    color: hsl(234, 39%, 85%);
}

.toDoEl[data-theme="darkMode"] {
    color: hsl(235, 24%, 19%);
}

.toDoExtras[data-theme="darkMode"] {
    background-color: hsl(235, 24%, 19%);
    box-shadow: 3px 13px 63px -3px rgba(0,0,0,0.27);

}

.toDoLabel[da]

.extraBtn[data-theme="darkMode"] {
    background-color: hsl(235, 24%, 19%);
}

.todoInput[data-theme="darkMode"] {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}

.addTodo[data-theme="darkMode"] {
    background-color: hsl(235, 24%, 19%);
}

body[data-theme="lightMode"] {
    background-image: url(./images/bg-desktop-light.jpg);
    background-color: hsl(236, 33%, 92%);
}

.toDoDiv[data-theme="lightMode"] {
    background-color: hsl(0, 0%, 98%);
    border-bottom: 1px solid hsl(236, 9%, 61%);
    color: hsl(236, 9%, 61%);
}

.toDoEl[data-theme="lightMode"] {
    color: hsl(235, 24%, 19%);
}

.toDoExtras[data-theme="lightMode"] {
    background-color: hsl(0, 0%, 98%);

}

.extraBtn[data-theme="lightMode"] {
    background-color: hsl(0, 0%, 98%);
}

.todoInput[data-theme="lightMode"] {
    background-color: hsl(0, 0%, 98%);
    color: hsl(236, 9%, 61%);
}

.addTodo[data-theme="lightMode"] {
    background-color: hsl(0, 0%, 98%);
}

@media screen and (max-width: 690px) {
    body[data-theme="lightMode"] {
        background-image: url(./images/bg-mobile-light.jpg);
        background-color: hsl(236, 33%, 92%);
    }
    body[data-theme="darkMode"] {
        background-image: url(./images/bg-mobile-dark.jpg);
        background-color: hsl(235, 21%, 11%);
    }
}






@media only screen and (max-width: 690px) {
    body {
      background-image: url(./images/bg-mobile-dark.jpg);
    }

    .toDoExtras {
        margin-top: 1rem;
    }
  }