:root {
--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-color: var(--Dark-Blue);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    max-height: 500p;
    margin: 15rem auto;
    background-color: var(--Dark-Grayish-Blue);
    color: var(--Light-Cyan);
    padding: 2rem;
    border-radius: 15px;
    position: relative;
}

.container > * {
    background-color: var(--Dark-Grayish-Blue);
}

.advice-number {
    color: var(--Neon-Green);
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 5px;
}

.divider-img > img {
    user-select: none;
    max-width: 100%;
    background-color: var(--Dark-Grayish-Blue);
}

.advice {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-block: 2rem;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-grow: 1;
}



.fa-dice-five:before {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Neon-Green);
    border-radius: 50%;
    color: #223453;
    cursor: pointer;
    position: absolute;
    translate: -50%;
    bottom: -1.5rem;
}





@media (max-width: 600px) {
    .container {
        margin: 50px 15px;
    }


}
