:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Grey: hsl(213, 20%, 22%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Very-Dark-Blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: var(--Dark-Blue);
    border-radius: 2rem;
    max-width: 420px;
    padding: 2rem;
    margin: 2rem auto;
}

.star {
    background-color: var(--Dark-Grey);
    width: fit-content;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
}


h1 {
    color: var(--White);
}

.ratings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
    width: 100%;
}

.ratings button {
    background-color: var(--Dark-Grey);
    border: none;
    color: var(--Medium-Grey);
    font-size: 1rem;
    padding: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}   

.ratings button:hover {
    background-color: var(--Light-Grey);
    color: white;
    cursor: pointer;
}

.ratings button:focus {
    background-color: var(--Orange);
    color: var(--White);
}

#submit {
    display: block;
    width: 100%;
    background-color: var(--Orange);
    color: var(--White);
    font-size: 1rem;
    padding: .8rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
}

#submit:hover {
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

.description {
    color: var(--Light-Grey);
}

.hidden {
    display: none;
}

.thank-you {
    text-align: center;
}

.selected {
    border: none;
    border-radius: 2rem;
    background-color: var(--Dark-Grey);
    width: fit-content;
    margin: auto;
    color: var(--Orange);
    font-size: .870rem;
    padding: 0.7rem;
    margin-top: 1rem;
}

.attribution {
    position: fixed;
    bottom: 0;
    color: var(--White);
}

.attribution a {
    text-decoration: none;
    color: var(--White);
}